<%-include("partials/header")%>
<h1><%=title%></h1>
<h4>Author: <%=author%></h4>
<h4>Released: <%=released%></h4>
<h2>Plot</h2>
<p><%=content%></p>
<h2>Rating</h2>
<p><%=rating%></p>
<%-include("partials/footer")%>
